apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinel-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: sentinel
  template:
    metadata:
      labels:
        app: sentinel
    spec:
      containers:
      - name: sentinel
        image: sentinel-app:v1  # We will update this to your Docker Hub image later
        imagePullPolicy: Never # Tell K3s to look for the local image you just built
        ports:
        - containerPort: 3000
