apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinel-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sentinel
  template:
    metadata:
      labels:
        app: sentinel
    spec:
      containers:
      - name: sentinel-container
        image: node:20-alpine  # We will update this to your Docker Hub image later
        ports:
        - containerPort: 3000
