apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinel-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sentinel
  template:
    metadata:
      labels:
        app: sentinel
    spec:
      containers:
      - name: sentinel-container
        image: sentinel-app:v1
        imagePullPolicy: Never
        # --- NEW SECURITY SECTION ---
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        # ----------------------------
        ports:
        - containerPort: 3000
