apiVersion: v1
kind: Service
metadata:
  name: sentinel-service
spec:
  type: NodePort
  selector:
    app: sentinel
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
      nodePort: 30001
